#header h1{
	display: none;
}
a img { border:0; }

form { 
	padding : 0 10px 0 10px; 
}
label { float : left;
	width : 15%;
	text-align : right;
	padding-right : 1%;
}
input, textarea, select { text-align : left; }


#errormsg {
	text-align: center;
}

#uploadform .small {
	margin: 0 0 0 15%;
	font-size: 0.7em;
}

.red {
 	color: #f00;
	font-weight: bold;	
}

table.sortable {	
	width: 100%;
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
	height: 30px;
}
table.sortable .lefted {text-align: left;}
table.sortable img  { vertical-align: middle }

table.sortable th {
	height: 30px;
	font-size: 1.1em;
	background-color: #999;
	padding: 4px;
	border: 1px #fff solid;
	color: #fff;
	font-weight: bold;	
}

table.sortable #th1 {width: 60%;}
table.sortable #th2 {width: 12%;}
table.sortable #th3 {width: 16%;}
table.sortable #th4 {width: 12%;}